/* spymaster reveal */
.player-1.color-0 {
  color: red;
}

.player-1.color-1 {
  color: blue;
}

.player-1.color-3 {
  color: black;
}

.revealed.color-0 {
  background: red;
  color: white;
}

.revealed.color-1 {
  background: blue;
  color: white;
}

/* neutral color */
.revealed.color-2 {
  background: #ede2cc;
}

.revealed.color-3 {
  background: black;
  color: white;
}

.gameWord {
  color: gray;
  text-align: center;
  vertical-align: middle;
  padding: 30px;
  cursor: pointer;
}
